section.become-program
  .container
    .row.become-santa
      .col-12.col-sm-6.col-md-7.col-xl-6
        h1 Стань <span>Тайным Сантой</span> для детей-инвалидов
        p В новогоднюю ночь Санта приходит только к тем детям, у чьих родителей есть деньги. Стань <span>Тайным Сантой</span> для детей, у которых нет даже родителей.
        p Поступи на нашу программу «Личная эффективность и управленческие навыки» по специальной цене: <strong>199 руб.</strong>
        a.btn.btn-high(data-fancybox data-src="#buycourse" href="javascript:;") <span>Вернуть детям веру в чудеса за 199 руб.</span>
        .money-for
          .box_aside
            img(src='img/heart-icon.svg' alt='Heart')
          .box_cnt
            span Все деньги пойдут на подарки для детей из Филимонковского дома-интерната.
    .row.which-program
      .col-sm-6.offset-sm-6.col-xl-5.offset-xl-7
        h2 Что за программа?
        p За 20 дней дистанционных занятий по программе «Личная эффективность и управленческие навыки» ты получишь:
        .row
          .col-2
            img(src='img/ico-flag.svg' alt='Flag')
          .col-10
            p навыки публичных выступлений, критического мышления, тайм-менеджемента и другие знания, выделяющие сильного лидера из толпы;
        .row
          .col-2
            img(src='img/ico-grow.svg' alt='Grow')
          .col-10
            p возможность подняться по карьерной лестнице;
        .row
          .col-2
            img(src='img/ico-sert.svg' alt='Sert')
          .col-10
            p официальный диплом бизнес-школы;
        .row
          .col-2
            img(src='img/ico-star.svg' alt='Star')
          .col-10
            p осознание того, что для кого-то ты сотворил новогоднее чудо.
        p.download
          a(href='#') Скачать презентацию программы
          img(src='img/pdf.svg' alt='pdf')
          | <span>3.2 мб.</span>
        p.price 199 руб. <span>8900 руб.</span>
        a.btn(data-fancybox data-src="#buycourse" href="javascript:;") Купить курс
        .money-for
          .box_aside
            img(src='img/heart-icon.svg' alt='Heart')
          .box_cnt
            span Дети-сироты не могут сделать тебе ответный подарок на Новый год. Мы делаем это за них.
        
