section.can-give
  .container
    .d-flex
      .can-give-item
        h2 Могу ли я дать больше денег?
        p Мы понимаем, что 199 рублей — это очень мало, когда хочется помочь. Каждый из нас мог бы подарить детям больше.
        p Но наша цель не собрать с одного человека большую сумму на благотворительность.
        p Мы хотим, чтобы как можно больше людей поучаствовали в организации Нового года для выбранного нами дома-интерната.
      .can-give-item
        .saying-1
          p Дети, вам помогли <span>10</span> человек
        .saying-2
          p Дети, вам помогли <span>10 000</span> человек
        .ellipse-text
          svg(viewBox="0 0 1100 85" width="410" height="57")
            defs
              path(d="M1099.21 151.306l-1099.21 0c32.0263,-27.8307 184.042,-83.6341 236.8,-100.236 199.99,-62.9288 425.658,-71.0104 626.253,-5.6701 60.0602,19.5637 197.903,72.6604 236.16,105.906z" fill="white" id="ellipse")
            text(font-family="Open Sans")
              textPath(xlink:href="#ellipse" startOffset="52%") На что из этого дети скажут «вау»?
