section.your-help
  .container
    h2 Эти дети ждут твоей помощи и <span>новогоднего чуда</span>!
    .children-slider
      div
        .children-slide            
          .slide-img.child-1
            .sticker
              <img src="img/sticker.png" alt="Стикер">
            <img src="img/kid-1.jpg" alt="Дима">
          .slide-desc
            p Дима, 9 лет
      div
        .children-slide            
          .slide-img.child-2
            .sticker
              <img src="img/sticker.png" alt="Стикер">
            <img src="img/kid-2.jpg" alt="Игорь">
          .slide-desc
            p Игорь, 6 лет
      div
        .children-slide            
          .slide-img.child-3
            .sticker
              <img src="img/sticker.png" alt="Стикер">
            <img src="img/kid-3.jpg" alt="Ира">
          .slide-desc
            p Ира, 8 лет
      div
        .children-slide            
          .slide-img.child-4
            .sticker
              <img src="img/sticker.png" alt="Стикер">
            <img src="img/kid-4.jpg" alt="Катя">
          .slide-desc
            p Катя, 9 лет
      div
        .children-slide            
          .slide-img.child-1
            .sticker
              <img src="img/sticker.png" alt="Стикер">
            <img src="img/kid-5.jpg" alt="Лена">
          .slide-desc
            p Лена, 9 лет
      div
        .children-slide            
          .slide-img.child-2
            .sticker
              <img src="img/sticker.png" alt="Стикер">
            <img src="img/kid-6.jpg" alt="Миша">
          .slide-desc
            p Миша, 7 лет
      div
        .children-slide            
          .slide-img.child-3
            .sticker
              <img src="img/sticker.png" alt="Стикер">
            <img src="img/kid-7.jpg" alt="Петя">
          .slide-desc
            p Петя, 6 лет
    .slogan
      h4 Успей <span>до 25 декабря</span> сделать подарок, который:
      p <img src="img/heart-icon.svg" alt="Heart"> <span>ты никогда не забудешь</span> <img src="img/heart-icon.svg" alt="Heart"> <span>ещё долго будет вызывать у тебя улыбку</span>    
      p Аня, Петя и Миша будут рады.  
