footer
  .container
    .d-flex.flex-column.flex-sm-row.justify-content-between.align-items-md-end
      .footer-item
        .row.program-img
          .col-12.col-lg-10      
            <img src="img/program-img.png" alt="Программа">
        .row.program-desc
          .col-12.col-lg-6
            p Программа онлайн обучения <strong>Личная эффективность и управленческие навыки</strong>
          .col-12.col-lg-5
            p.price <span>8900 руб.</span> 199 руб.
        p.download
          a(href='#') Скачать презентацию программы
          img(src='img/pdf.svg' alt='pdf')
          | <span>3.2 мб.</span>
      .footer-item
        h4 <span>Тайным Сантой</span> для Филимонковского дома-интерната уже стали:
        p <span>143</span>человек, стань следующим:
        .row.btn-block
          .col-12.col-sm-10.col-md-7.col-lg-6
            a.btn(data-fancybox data-src="#buycourse" href="javascript:;") Купить курс за 199 руб.
          .col-12.col-sm-10.col-md-5.col-lg-6
            p Все деньги пойдут на подарки для детей из Филимонковского дома-интерната.
        .row.social
          .col-12
            p Или помоги другим узнать о нас в соцсетях:
            // uSocial
            script(async src="https://usocial.pro/usocial/usocial.js?v=6.1.4" data-script="usocial" charset="utf-8")
            .uSocial-Share(data-pid="33ad9a31869955378f0bc098ab4043f8" data-type="share" data-options="round,style1,default,absolute,horizontal,size48,counter0" data-social="vk,fb,ok,twi,telegram,email" data-mobile="vi,wa,sms")
        p Или сам сделай пост с Хэштегом <span>#ТайныйСантаCBS</span>    
