header
  .container
    .row.justify-content-between.align-items-center
      .col-auto
        img(src='img/logo.svg' alt='Тайный Санта')
      .col
        p Вернуть детям веру в чудеса за <strong>199 руб.</strong>
      .col-auto
        a.btn(data-fancybox data-src="#buycourse" href="javascript:;") <span>Вернуть детям веру</span>
