section.how-where
  .container  
    h2 Как это работает?
    .how.d-flex.flex-column.flex-sm-row.justify-content-between
      .how-item
        img(src='img/how-1.png' alt='Программа Лидерство')
        p Ты покупаешь курс за 199 рублей вместо 8900 рублей и сразу получаешь к нему доступ.
      .how-item
        img(src='img/how-2.png' alt='Программа Личная эффективность')
        p Мы собираем деньги до 25 декабря, после чего организуем закупку подарков и сами везём их в детдом. Чем больше мы соберём, тем ценнее подарки будут у детей.
      .how-item
        img(src='img/how-3.png' alt='Программа Лидерство')
        p Обязательно делаем отчёт о проделанной работе с фото и чеками. Всё, как положено.
    .where.d-flex.flex-column.flex-sm-row.justify-content-between
      .where-item
        h2 Куда мы поедем с подарками?
        p <strong>«Филимонковский детский дом-интернат»</strong> находится в Москве и существует с 1934 года. В 1966 году он становится интернатом для ум­ственно-отсталых детей. Сегодня в нём живут и учатся 82 ребёнка в возрасте от 4 до 18 лет. В большинстве своём это соци­альные сироты из неблагополучных семей. 
        p <strong>До 25 декабря</strong> мы хотим собрать фонд в 450 000 рублей на хорошие подарки каждому из детей и устроить им новогоднюю сказку.
        .row.where-item-row
          .col-12.col-sm-4.col-md-3
            img(src='img/where-2.png' alt='Компьютерный класс')
          .col-12.col-sm-8.col-md-9
            p Если мы соберём больше, обновим им компьютерный класс или окажем любую другую помощь, о которой нас попросит детдом.
      .where-item
        img(src='img/where-1.png' alt='Детский дом-интернат')
      
    
