section.reviews
  .container
    .row
      .col-lg-3.col-xl-4
        .hashtag
          p #Тайный Санта приходи!
      .col-12.col-lg-9.col-xl-8
        h3 Почему мы выбрали именно эту программу для помощи детям?
        .reviews-slider
          div
            .review
              p Анастасия Андреева
                span
                  - for (var n = 1; n < 6; n++)
                    <img src="img/ico-star-rate.svg" alt="Star rate">
              p Слишком интересные и занимательные задания по теории, а не просто сухой, скучный текст. Мне даже не хватило того, что было в курсе - хотелось продолжать и продолжать.
              p Из самого полезного: провела анализ себя и своих лидерских качеств и поняла направление, куда мне двигаться дальше, для достижения больших результатов. Мой мозг открыл столько возможностей для развития! Появились четкие цели и планы относительно того, как этих целей достичь.
              p Рекомендую курс, всем тем, кто в быстрые сроки хочет прийти к пониманию, как сделать свою жизнь осмысленной, эффективной и успешной.
          div
            .review
              p Даниил Шандала
                span
                  - for (var n = 1; n < 6; n++)
                    <img src="img/ico-star-rate.svg" alt="Star rate">
              p В большинстве случаев ты думаешь, что знаешь все. На самом деле ты не знаешь ничего. Данные курсы позволяют, во-первых, понять, где твои слабые стороны. Во-вторых, материал позволяет со всех сторон подойти к проблеме курса: фото, видео, иллюстративный материал всегда приходился "в тему". Очень доволен, что приобрел курс! Спасибо авторам за большую работу!
          div
            .review
              p Светлана Кузьмина
                span
                  - for (var n = 1; n < 6; n++)
                    <img src="img/ico-star-rate.svg" alt="Star rate">
              p Отличнейший курс! В последние 2-3 месяца очень интересовалась данной темой, прошла несколько бесплатных вебинаров, но так и не нашла подходящий мне платный курс из всего предложенного. Курс от CBS попал ко мне "случайно" и нет предела моей радости! Самый полный, самый интересный, его проходишь, как будто в игру играешь, отлично подготовленные материалы, все нужные темы и инструменты. Спасибо!
          div
            .review
              p Надежда Бакшиш
                span
                  - for (var n = 1; n < 6; n++)
                    <img src="img/ico-star-rate.svg" alt="Star rate">
              p Полезный, практический материал, помогающий структурировать хаос. Великолепный лектор, высшего уровня! Именно таких преподавателей хочется слушать и переслушивать, впитывая каждое слово.
            
          
          
