html {
  box-sizing: border-box;
  font-size: 16px;
  @include respondTo(desktop, min) {
    font-size: 18px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  font-size: 1rem;
  font-family: $font_default;
  line-height: 1.25;
  color: $color_default;
  background-color: #fff;
  overflow-x: hidden;
}

a {
  color: $color_default;
  text-decoration: underline;
  &:hover,
  &:focus {
    color: $color_primary;
    text-decoration: none;
  }
}

strong {
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  user-select: none;
  -webkit-user-drag: none;
  border: none;
}

textarea {
  resize: vertical;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='search'],
textarea {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: lighten(gray, 20%);
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: lighten(gray, 20%);
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: lighten(gray, 20%);
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: lighten(gray, 20%);
  }
}

.container {
  max-width: 100%;
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1600px) {
    max-width: 1240px;
  }
}
