h1, h2 {
  font-size: 2.62rem;
  font-weight: 700;
  margin-bottom: 25px;
  line-height: 1.2;
  @include respondTo(netbook, max) {
    font-size: 2.5rem;
  }
  @media screen and (max-width:880px) {
    font-size: 2.3rem;
  }
  @include respondTo(tablet, max) {
    font-size: 1.7rem;
  }
  @media screen and (max-width:576px) {
    font-size: 2.2rem;
    text-align: center !important;
  }
  @include respondTo(smartphone, max) {
    font-size: 2rem;
  }
  @media screen and (max-width:375px) {
    font-size: 1.7rem;
  }
  @media screen and (max-width:320px) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

h1, h2, h3, h4 {
  & span {
    color: $color_primary;
  }
}

p {
  font-size: 1rem;
}
