// font
$font_default: 'Open Sans', sans-serif;

// color
$color_default: #222222;
$color_primary: #f44d4c;

// media query
$mq_smartphone: 480px;
$mq_tablet: 768px;
$mq_netbook: 992px;
$mq_notebook: 1200px;
$mq_desktop: 1600px;
